
.app {
  padding: 30px;
}

#items-column {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid #a5a0a0;
  padding: 15px;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.card {
  display: flex;
  gap: 5px;
  border: 1px solid #a5a0a0;
  padding: 5px;
}
.card-label {
  font-weight: 600;
}